body{
	background-color: rgb(195,195,195);
}

a{  
	text-decoration:none;
	color:#000066;
}

.table-ext{
	width: 100%; 
	margin-top: 10px; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-spacing: 0px;
}

.td-menu{
	width: 16%;
	font-size: large;
	text-align: center; 
	border-style: solid;
	border-color: rgb(70, 130, 180);
	border-width: 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: rgb(204, 204, 255);
}

.td-menu-home{
	width: 4%;
	font-size: large;
	text-align: center; 
	border-style: solid;
	border-color: rgb(70, 130, 180);
	border-width: 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: rgb(204, 204, 255);
}

.td-containt{
	width: 100%;
	padding: 10px;
	padding-top: 15px;
	border-style: solid;
	border-color: rgb(70, 130, 180);
	border-width: 1px;
	background-color: rgb(218, 253, 218);	
}

.div-header{
	font-size: x-large; 
	text-align: center;
	color: white;
	background-color: rgb(70, 130, 180); 
	padding-top: 20px; 
	padding-bottom: 20px;
}

.div-table{
	font-size: small;
	font-weight: bold;
	text-align: left; 
	color: white;
	background-color: rgb(70, 130, 180); 
	padding-top: 2px; 
	padding-bottom: 2px;
	padding-left: 2px;
}

.div-scroll{
	height: 650px;
	overflow: auto;
	vertical-align: top;
}

.td-rapporti{
	width: 20%;
	font-size: medium; 
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

pre {  
  font-size:14px;
}

.button {  
  color:#000066;
  margin-left:10px;  
}

.padding-el{
	padding: 5px;
}

input{  
  border-style:solid;
  border-color:#666666;
  border-width:1px;
  padding:2px;
  margin-right:2px;
  border-radius: 5px;
}
